<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body style="background-image: url('../media/profile_image.png'); height: 100vh; background-size: cover; background-repeat: no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <a href="{{ 'index' }}"><img src="../media/label.png" alt=""></a>
                </div>
                <div class="col-6 text-center" style="margin-top: 4%;">
                    <h1 style="color: black; font-family: Playfair Display;">Профиль</h1>
                </div>
                <div class="col-3">
                    <a href="{% url 'logoutuser' %}" style="text-decoration: none; color: black;font-family: Playfair Display;"><h4>выйти из профиля</h4></a>
                </div>
            </div>
        </div>
    <form action="" method="get" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container text-center">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6"
                    style="background-color: rgba(255, 255, 255, 0.79);box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 75px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <img src="../media/user_icon.png" style="margin-top: 5%;" alt="">
                                <input type="text"
                                    style="border-color: black; ;margin-top: 5%; background-color: transparent;border-radius: 51px;"
                                    placeholder="Ник" class="form-control" value="{{ profileInfo.login }}">
                                <input class="form-control"
                                    style="border-color: black; margin-top: 5%;background-color: transparent;border-radius: 51px;"
                                    placeholder="E-mail" type="email" value="{{ profileInfo.email }}">
                                <input class="form-control"
                                    style="border-color: black;margin-top: 5%;background-color: transparent;border-radius: 51px; "
                                    placeholder="Пароль" type="password" value="{{ profileForm.0.password }}">
                                <a class="btn btn-lg" style="box-shadow: unset;" href="{% url 'logoutuser' %}"><h5>Выйти из профиля</h5></a>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </form>
    <div style="margin-top: 2%;" class="container text-center">
        <div class="row">
            <div class="col-3"></div>
            <div class="d-grid gap-2 col-3">
                <button class="btn btn-lg  btn-outline-light" style="color: black;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-color: transparent; border-radius: 26px; background:#E4EFD2" type="button">Избранное</button>
            </div>
            <div class="d-grid gap-2 col-3">
                <button class="btn btn-lg btn-warning btn-outline-light" style="color: black;border-color: transparent;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 26px; background:#E4EFD2" type="button">Добавить рецепт</button>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>
</html>